<ion-view>
    <ion-nav-title ng-click="toTop()">
        <i class="icon ion-earth" style="font-size: 1.5em;vertical-align: top;display: inline-block;"></i>
        <span style="height: 38px;line-height: 38px;display: inline-block"> Place</span>
    </ion-nav-title>
    <ion-content>
        <div ng-repeat-start="team in teams"></div>
        <div class="row" style="padding: 0;width: 100%;margin: 0">
            <div ng-repeat="player in team.players" class="col card" style="overflow: hidden;margin: 0;"><p style="height: 30px;font-size: 12px;">{{player.username}}</p><div style="height: 120px"><img ng-src="{{player.imgsrc}}" style="width: 100%;height: 100%"></div></div>
        </div>
        <div ng-repeat-end><br /></div>
        <ion-infinite-scroll distance="1%" on-infinite="loadMore()" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>

