<ion-view id="slide-box" view-title="TOUR" hide-nav-bar="true">
    <ion-nav-buttons side="right">
        <a class="button button-clear" ui-sref="tabs.home" ng-if="config.enter">进入</a>
    </ion-nav-buttons>
        <ion-slide-box on-slide-changed="onSlideChanged()" style="height: 100%;">
            <ion-slide style="position: relative;">
                <div class="icon ion-ios-arrow-forward calm" style="position: absolute;top: 0;bottom: 0;margin: auto;height: 56px;right: 5%;font-size: 4em;opacity: 0;animation: tipright 1s infinite;"></div>
                <div class="icon ion-ios-arrow-forward energized" style="position: absolute;top: 0;bottom: 0;margin: auto;height: 56px;right: 10%;font-size: 4em;opacity: 0;animation: tipright 1s .5s infinite;"></div>
                <img src="http://omjbzg6gs.bkt.clouddn.com/eyego/1.jpg" style="width: 100%;">
                <div class="logob bounceInUp animated"><img src="http://omjbzg6gs.bkt.clouddn.com/eyego/logob.png"></div>
                <div class="logob" style="bottom: 12%;top: auto;opacity: 0.9;text-align: center;">
                	<button ng-click="go('login')" class="button button-calm item-button-right button-full" style="border-radius: 22px;">
                        <span class="padding" style="font-weight: bolder">LOGIN</span>
                    </button>
                    <button ng-click="go('signup')" class="button button-energized item-button-right button-full" style="border-radius: 22px;">
                        <i class="icon ion-person"></i>
                        <span class="padding" style="font-weight: bolder">SIGN UP</span>
                    </button>
                </div>
            </ion-slide>
            <ion-slide style="position: relative;">
                <div class="icon ion-ios-arrow-forward calm" style="position: absolute;top: 0;bottom: 0;margin: auto;height: 56px;right: 5%;font-size: 4em;opacity: 0;animation: tipright 1s infinite;"></div>
                <div class="icon ion-ios-arrow-forward energized" style="position: absolute;top: 0;bottom: 0;margin: auto;height: 56px;right: 10%;font-size: 4em;opacity: 0;animation: tipright 1s .5s infinite;"></div>
                <img src="http://omjbzg6gs.bkt.clouddn.com/eyego/3.jpg" style="width: 100%;">
            </ion-slide>
            <ion-slide>
                <img src="http://omjbzg6gs.bkt.clouddn.com/eyego/4.jpg" style="width: 100%;">
                <div class="logob" style="bottom: 15%;top: auto;opacity: 0.9;text-align: center;">
                	<button ng-click="go('tabs.eye')" class="button button-outline button-balanced" style="background: #000;opacity: 0.8;font-weight: bolder;color: #fff;line-height: 40px;animation: runlight 2s ease-out infinite">TAKE A QUICK TOUR</button>
                    <!--<button ng-click="go('tabs.eye')" class="button button-balanced item-button-right button-full" style="border-radius: 22px;">
                        <span class="padding" style="font-weight: bolder">Enter</span>
                    </button>-->
                </div>
            </ion-slide>
        </ion-slide-box>
</ion-view>