<ion-view class="calm-bg">
    <ion-nav-title>
        <img src="images/07.png" style="height: 30px;vertical-align: middle;">
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <a class="button button-clear" ui-sref="signup">SIGN UP</a>
    </ion-nav-buttons>
    <div class="list list-inset has-header">
        <label class="item item-input">
            <input type="text" placeholder="Username">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Password">
        </label>
    </div>
    <div class="logob" style="top: 50%;opacity: 0.9;">
        <button ng-click="go('home')" class="button button-balanced item-button-right button-full" style="border-radius: 22px;">
            <span class="padding" style="font-weight: bolder">LOGIN</span>
        </button>
    </div>
</ion-view>