<ion-tabs class="tabs-calm tabs-icon-top">
    <ion-tab title="EYE" icon-on="ion-ios-eye"
             icon-off="ion-ios-eye-outline"
             badge="0" badge-style="badge-balanced"
             ui-sref="tabs.eye">
        <ion-nav-view name="tab-eye" class="animated fadeIn"></ion-nav-view>
    </ion-tab>

    <ion-tab title="GO" icon="ion-android-boat" ui-sref="tabs.home">
        <ion-nav-view name="tab-go" class="animated fadeIn"></ion-nav-view>
    </ion-tab>

    <ion-tab title="ISSUED" icon="ion-ios-paperplane" ui-sref="tabs.issued">
        <ion-nav-view name="tab-issued" class="animated fadeIn"></ion-nav-view>
    </ion-tab>

    <ion-tab title="SEARCH" icon="ion-ios-search-strong" ui-sref="tabs.search">
        <ion-nav-view name="tab-search" class="animated fadeIn"></ion-nav-view>
    </ion-tab>
</ion-tabs>